/*Variables*/
/*
Indexes - z-index for layers
topbar: 9
debugbar: 99
*/

:root {
	--darkmodebody: #131d26;
	--darkmodetext: #ffffff;
	--mainColor1: #8fa843;
	--mainColor2: #B3D6A5;
	--url1: url("/images/zoodollarcoin_clicked.png") no-repeat;
	--url2: url("/images/zoodollarcoin_hover.png") no-repeat;
	--url3: url("/images/incomePerDay.png") no-repeat;
	--url4: url("/images/day.png") no-repeat;
	--url5: url("/images/visitors.png") no-repeat;
	--url6: url("/images/entryPrice.png") no-repeat;
}

body {
	background: var(--darkmodebody);
	color: var(--darkmodetext);
	text-align: center;
	width: 1000px;
	/*80%*/
	margin-left:auto;
	margin-right:auto;
}
.nav-tabs{
	/* Override Bootstrap
	--bs-nav-link-disabled-color: var(--mainColor1);
	*/
	--bs-secondary-color: var(--mainColor1);
}

#topbarContainer{
	/*
	background: #8fc000;
	margin: auto;
	width: 80%;
	*/
	text-align: center;
}

#topbar{
	background: var(--mainColor1);
	position: fixed;
	top: 0;
	/*
	width: 80%;
	*/
	width: 1000px;
	text-align: center;
	margin: auto;
	z-index: 9;
}

/* TopBar space between elements*/
.nav > li{
	padding-right: 20px;
}

#introText{
	height: 110px;
}

#divider {
	width: 800px;
	height: 1px;
	background-color: #696969;
	margin-left:100px;
}

#divider2{
	width: 1000px;
	height: 3px;
	background-color: var(--mainColor1);
}	

#exhTitle {
	background-color: var(--mainColor1);
	color: #FFFFFF;
	height: 20px;
}

#aniTitle {
	background-color: var(--mainColor2);
	width: 320px;
	height: 30px;
	padding-top: 10px;
}

#aniTitleB {
	background-color: #D6CAE3;
	width: 320px;
	height: 30px;
	padding-top: 10px;
}

#aniTitleF {
	background-color: #99BAF2;
	width: 320px;
	height: 30px;
	padding-top: 10px;
}

#aniTitleC {
	background-color: #C7AE8B;
	width: 320px;
	height: 30px;
	padding-top: 10px;
}

#noAnimals {	
	background-color: var(--mainColor2);
	width: 320px;
	float: left;
		height: 30px;
	padding-top: 10px;
}

#costForNext {	
	background-color: var(--mainColor2);
	width: 320px;
	float: left;
	margin-left: 19px;
		height: 30px;
	padding-top: 10px;
}

#income {	
	background-color: var(--mainColor2);
	width: 320px;
	float: left;
	margin-left: 19px;
	
}

#totalIncome {	
	background-color: var(--mainColor2);
	width: 320px;
	float: left;
	margin-left: 19px;
		height: 30px;
	padding-top: 10px;
}

#backLow{
	background-color: white;
	border:1px solid #9f9f9f;
	height: 107px;
}

button {
	width: 150px;
    padding:10px;
    background-color:rgba(255,204,0,1);
    border-radius:25px;
    cursor:pointer;
    display:inline-block;
	/*margin-left: 425px;*/
	margin-top: -35px;
}

button:hover {
    background-color: white; 
}

/*Button clicked*/
button:active{
	background-color:white;
 }

.manualButton {
	background: var(--url1);
	margin-left: 20px;
	padding:68px;
}

.manualButton:hover {
	/*
	background:url(/images/zoodollarcoinhover.png) no-repeat;
	*/
	background: var(--url2);
	margin-left: 20px;
	padding:68px;
}
/*Add funds button clicked*/
.manualButton:active{
	/*
	inset: 4px -4px 0 #000000;
	border-radius: 555px;
	background-color:red;
	margin-top: 10px;
    margin-left: 10px;
	*/
	background:url(/images/zoodollarcoin.png) no-repeat;
	margin-left: 2px;
 }

 .manualButton2 {
	width: 50px;
	height: 50px;
	background-image: url(/images/zoodollarcoin_clicked.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor:pointer;
	margin: 4px;
	/*
	src: "zoodollarcoin_clicked.png";
	background:url(zoodollarcoin_clicked.png);
	display: flex; 
	margin-left: 1px;
	object-fit: cover; 
	width: 100%;
	padding: 1px;
	
	max-width: 100%;
    max-height: 100%;
	height: 10px;
    width: 10px;

	height: 100%;
    width: 100%;
	object-fit: contain; 
	*/
}


#btnUpg {
	padding: 0;
	margin: 0;
	/*
	margin-left: 400px;
	width: 200px;
	margin-top: 50px;
	background-color: var(--mainColor1);	
	color: #FFFFFF;
	*/
}

#btnUpg:hover {
    background-color: #000000;	
}
div:hover:before {
    content: attr(data-tooltip);
    position: absolute;
    padding: 5px 10px;
    margin-left: 100px;
    border-radius: 3px;
}



/*Animal*/
#animal {
	/*
	background-color: blue; 
	*/
	background-color: var(--mainColor1);
	display: flex; 
	/*width: 80%; 
	margin-left: auto; 
	margin-right: auto;*/
}

#container-left {
	background-color: purple; 
	display: flex; 
	width: 20%; 
	margin: 0; 
	padding: 0;
}

#animal-image-container {
	background-color: orange; 
	display: flex; 
	width: 100%;
}

#animal-image {
	background-color: red; 
	object-fit: cover; 
	width: 100%;
}

#animal-button-container {
	width: 0%;
}

#animal-button {
	background-color: #406328;
	position: relative; 
	left: -9.1em; 
	top: 90%; 
	width: 6em;
}

#animal-button:hover {
    background-color: black;
}
/*TODO clicked*/

#container-right {
	flex-grow: 1; 
	margin: 0%;
	padding: 0%;
	/*
	background-color: red;
	*/
}

#card-text-left {
	text-align: left;
	background-color: #406328; 
	float: left; 
	color: white; 
	padding: 2%;
}

#card-text-right {
	text-align: right;
	background-color: #406328; 
	color: white; 
	padding: 2%;
}

#card-text-middle {
	text-align: left;
	padding: 3%; /*2 shows red line...*/
}


/* The alert message box */
/*
.alert {
	padding: 20px;
	background-color: #f44336; 
	color: white;
	margin-bottom: 15px;
	opacity: 1;
	transition: opacity 0.6s; 
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}



.popup {
	position: fixed;
	z-index: 99;
	background-color: green;
	width: 80%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/
/* The actual popup */
/* 

.popup .popuptext {
	*/
	/*
	position: fixed;
	left: 50%;
	top: 5px;
	width: 80%;
	
	visibility: hidden;
	*/
	/*
	background-color: #555;
	color: #fff;
	border-radius: 20px;
	padding: 10px;
	
}
*/

/* Toggle this class - hide and show the popup */
/*
.popup .anim {
	visibility: visible;
	-webkit-animation: fadeinout 4s linear forwards;
	animation: fadeinout 4s linear forwards;
}
*/
/* Add animation */
/* keeps it visible solid 80% of duration */
/*
@-webkit-keyframes fadeinout {
	0%,100% { opacity: 0; }
	20%,80% { opacity: 1; }
}
@keyframes fadeinout {
	0%,100% { opacity: 0; top: -30%;}
	20%,80% { opacity: 1; top: 0%;}
}
*/


#toast-body{
	/*Override Bootstrap*/
	color: black;
}


#loadGame{
	height: 50px;
	width: 50px;
	position: fixed;
	z-index: 99;
	bottom: 20px;
	right: 20px;
}
#saveGame{
	height: 50px;
	width: 50px;
	position: fixed;
	z-index: 99;
	bottom: 20px;
	right: 80px;
	/*
	text-align: center;
	padding:10px;
	float: right;
    background-color:rgba(255,204,0,1);
    border-radius:25px;
    cursor:pointer;
    display:block;
	margin-left: 10px;
	*/
}

#darkModeSwitch{
	height: 50px;
	width: 50px;
	position: fixed;
	z-index: 99;
	bottom: 20px;
	left: 20px;
}

/**/
#debugbar{
	background: red; 
	position: fixed; 
	top: 0; 
	left: 0; 
	text-align: center; 
	width: 100%; 
	font-size: 6px;
	z-index: 99; 
}

#zooDollarsContainer{
/*
width: 100px; 
text-align: left;
*/
	font-size: 35px;
}

#zoodollars{
}

.IPDContainer{
	width: 50px;
	height: 50px;
	background: var(--url3);
	/*
	background-image: url(/images/zoodollarcoin_clicked.png);
	*/
	background-size: contain;
	background-position: center;
}

.DayContainer{
	width: 50px;
	height: 50px;
	background: var(--url4);
	/*
	background-image: url(/images/zoodollarcoin_clicked.png);
	*/
	background-size: contain;
	background-position: center;
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(720deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(720deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(720deg); 
        transform:rotate(720deg); 
    } 
}

.VisitorsContainer{
	width: 50px;
	height: 50px;
	background: var(--url5);
	/*
	background-image: url(/images/zoodollarcoin_clicked.png);
	*/
	background-size: contain;
	background-position: center;
}

.EntryPriceContainer{
	width: 50px;
	height: 50px;
	background: var(--url6);
	/*
	background-image: url(/images/zoodollarcoin_clicked.png);
	*/
	background-size: contain;
	background-position: center;
}
