/*Variables*/
/*
Indexes - z-index for layers
topbar: 9
debugbar: 99
*/


/*

@media (min-width: @screen-sm-min) // >= 768px (small tablet)
@media (min-width: @screen-md-min) // >= 992px (medium laptop)
@media (min-width: @screen-lg-min) // >= 1200px (large desktop)

@media (max-width: @screen-xs-max) { // < 768px (xsmall phone)
@media (max-width: @screen-sm-max) { // < 992px (small tablet)
@media (max-width: @screen-md-max) { // < 1200px (medium laptop)

	.container
.container-fluid
*/
/* || Reset */
/*
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button {
	font: inherit;
}
*/

/* || Variables */
/* || General Styles */
/*
html {
	font-size: 2.5rem;
}
*/
/* || Utility Classes */
/*
.underline {
	text-decoration: underline;
}
*/
/* || Components/Blocks */
/*
responsive button...
.myButton {
	text-decoration: underline;
}

  width: 100%;
   min-width: 50px;  // add this if you want
   max-width: 300px; // add this if  you want, adjust accordingly
*/


:root {
	--darkmodebody: #131d26;
	--darkmodetext: #ffffff;
	/*
	TODO dark mode buttons and text
	--darkmodetext: #ffffff;
	*/
	--mainColor1: #8fa843;
	--mainColor2: #B3D6A5;
	--buttonColor: rgba(255,204,0,1);
	--buttonTextColor: rgba(0,0,0,1);
	--url0: url("/images/zooclickersbanner.jpg");
	--url1: url("/images/zoodollarcoin_clicked.png") no-repeat;
	--url2: url("/images/zoodollarcoin_hover.png") no-repeat;
	--url3: url("/images/incomePerDay.png") no-repeat;
	--url4: url("/images/day.png") no-repeat;
	--url5: url("/images/visitors.png") no-repeat;
	--url6: url("/images/entryPrice.png") no-repeat;
	--url7: url("/images/zoodollarcoin.png") no-repeat;
}

body {
	background: var(--darkmodebody);
	color: var(--darkmodetext);
	text-align: center;
	/*
	width: 1000px;
	*/
	width: 70%;
	font-size: 1vw;
	margin-left:auto;
	margin-right:auto;
}
#bannerImage {
	content: var(--url0);
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
	/*
	alt="Zoo Clickers Banner"  //alt breaks it?

	content: url("/images/zooclickersbanner.jpg");
	content: var(--url0);

	background: var(--url0);
	background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
	object-fit: cover;
	

	background-size: contain;
	width: 20em;
	height: 20em;
	div.bannerImage {
	margin:0; 
	padding:0; 
	background-image: var(--url0);
	background-position: center;
	background-image:url('yourimage.file');
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	*/
}
/*Unused*/
#banner {
}

.nav-tabs{
	/* Override Bootstrap
	--bs-nav-link-disabled-color: var(--mainColor1);
	*/
	--bs-secondary-color: var(--mainColor1);
}

#topbarContainer{
	/*
	background: #8fc000;
	margin: auto;
	width: 80%;
	*/
	display: flex;
	padding-right: 20px;

	text-align: center;
	opacity: 0.7;
	position: fixed;
	top: 7em;
	width: 70%;
	margin: auto;
	z-index: 9;
	background: var(--mainColor1);
	flex-flow: nowrap; /*NOT WORKING?*/
	
}
#topbarContainer * {
	font-size: 2vw;
	/*
	display: flex;
	*/
	width: 100%;
}


#topbar{
	/*
	width: 1000px;
	*/
}

/* TopBar space between elements*/
.nav > li{
	/*
	padding-right: 20px;
    margin-left: auto;
	
	display: flex;
	width: 100%;
	
	.nav > ul{
		
	justify-content: space-between;
	height: 100%;
	flex-direction: row;
	flex-flow: nowrap;
	*/
}

.nav {
	flex-wrap: nowrap;
}

.nav h5{
	/*
	TODO move to under thing...
	*/
	font-size: 3vw;
	/*
	padding: 20px;
	*/
}

#introText{
	height: 110px;
}

#divider {
	width: 800px;
	height: 1px;
	background-color: #696969;
	margin-left:100px;
}

#divider2{
	width: 1000px;
	height: 3px;
	background-color: var(--mainColor1);
}	

#exhTitle {
	background-color: var(--mainColor1);
	color: #FFFFFF;
	height: 20px;
}

#aniTitle {
	background-color: var(--mainColor2);
	width: 320px;
	height: 30px;
	padding-top: 10px;
}

#aniTitleB {
	background-color: #D6CAE3;
	width: 320px;
	height: 30px;
	padding-top: 10px;
}

#aniTitleF {
	background-color: #99BAF2;
	width: 320px;
	height: 30px;
	padding-top: 10px;
}

#aniTitleC {
	background-color: #C7AE8B;
	width: 320px;
	height: 30px;
	padding-top: 10px;
}

#noAnimals {	
	background-color: var(--mainColor2);
	width: 320px;
	float: left;
		height: 30px;
	padding-top: 10px;
}

#costForNext {	
	background-color: var(--mainColor2);
	width: 320px;
	float: left;
	margin-left: 19px;
		height: 30px;
	padding-top: 10px;
}

#income {	
	background-color: var(--mainColor2);
	width: 320px;
	float: left;
	margin-left: 19px;
	
}

#totalIncome {	
	background-color: var(--mainColor2);
	width: 320px;
	float: left;
	margin-left: 19px;
		height: 30px;
	padding-top: 10px;
}

#backLow{
	background-color: white;
	border:1px solid #9f9f9f;
	height: 107px;
}

.zc_button {
	/*
	width: 10%;
	margin-left: 425px;
	width: 150px;
	width: 100%;
	*/
	width: auto;
	height: auto;
    padding: 10px;
    background-color: var(--buttonColor);
    color: var(--buttonTextColor);
    border-radius:25px;
    cursor:pointer;
    display:inline-block;
	margin-top: -35px;
	/*
	font-size: 0.8rem;
	*/
	font-size: 1vw;
}

.zc_button :hover {
    background-color: white; 
}

/*Button clicked*/
.zc_button :active{
	background-color:white;
}


#zooDollarsButtonContainer {
	background-color: #131d26; /*BROKE*/
	display: flex; 
	/*
	flex-wrap: wrap;
	text-align: left;
	*/
	/*TODO keep button on left - let number expand right*/
}
.zooDollarsButton {
	background: var(--url1);
	/*
	width: 100px;
	min-width: 20px;
	height: 100px;
	*/
	width: 7em;
	height: 7em;
	background-position: center;
	background-size: contain;
	cursor:pointer;

	z-index: 9;
	position: fixed;
	top: 0;
	left: 45%;
	/*
	display: flex;
	padding-right: 20px;
	
	text-align: center;
	opacity: 0.7;
	width: 70%;
	margin: auto;
	background: var(--mainColor1);
	flex-flow: nowrap;
	*/
	
	/*why 30%?*/
	
	/*
	width: 100%; 
	min-width: 100px;
	
	min-width: 20px;
	flex: 1;
	margin-left: 20px;
	padding:68px;
	margin: 4px;
	*/

	 /*
	 width: 50px;
	 height: 50px;
	width: 100%;
	height: 100%;

	background-image: url(/images/zoodollarcoin_clicked.png);
	background-size: auto;
	background-repeat: no-repeat;
	*/
	
	/*
	src: "zoodollarcoin_clicked.png";
	background:url(zoodollarcoin_clicked.png);
	display: flex; 
	margin-left: 1px;
	object-fit: cover; 
	width: 100%;
	padding: 1px;
	
	max-width: 100%;
    max-height: 100%;
	height: 10px;
    width: 10px;

	height: 100%;
    width: 100%;
	object-fit: contain; 
	*/
}

.zooDollarsButton:hover {
	/*
	background:url(/images/zoodollarcoinhover.png) no-repeat;
	margin-left: 20px;
	padding:68px;
	*/
	background: var(--url2);
	background-position: center;
	background-size: contain;
	cursor:pointer;

}
/*Add funds button clicked*/
.zooDollarsButton:active{
	/*
	inset: 4px -4px 0 #000000;
	border-radius: 555px;
	background-color:red;
	margin-top: 10px;
    margin-left: 10px;
	margin-left: 2px;
	*/
	background: var(--url7);
	background-position: center;
	background-size: contain;
	cursor:pointer;

 }


#btnUpg {
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	font-size: 1vw;
	/*
	width: fit-content;
	margin-left: 400px;
	width: 200px;
	margin-top: 50px;
	background-color: var(--mainColor1);	
	color: #FFFFFF;
	*/
}

#btnStats {
	padding: 0;
	margin: 10px;
	/*
	width: 100%;
	*/
}

div:hover:before {
    content: attr(data-tooltip);
    position: absolute;
    padding: 5px 10px;
    margin-left: 100px;
    border-radius: 3px;
}


#zooDollarsContainer{
	/*
	width: 100px; 
	text-align: left;
	font-size: 2em;
	*/
	font-size: 1vw;

}
	
#zoodollars{
}

#IPDContainerContainer {
	/*
	display: flex;
	*/
}

.IPDContainer{
	background: var(--url3);
	/*
	max-width: 100%;
	min-width: 20px;
	flex-flow: row nowrap;
  	align-items: center;
		img { 
		object-fit: contain;
		}
	width: 50px;
	height: 50px;
	display: flex;

	width: 50px;
	height: 50px;
	background-image: url(/images/zoodollarcoin_clicked.png);
	*/
	
}

.DayContainer{
	background: var(--url4);

	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(720deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(720deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(720deg); 
        transform:rotate(720deg); 
    } 
}

.VisitorsContainer{
	background: var(--url5);
}

.EntryPriceContainer{
	background: var(--url6);
}









/*Animal*/
#animal {
	/*
	background-color: blue; 
	*/
	background-color: var(--mainColor1);
	display: flex; 
	/*width: 80%; 
	margin-left: auto; 
	margin-right: auto;*/
}

#container-left {
	background-color: purple; 
	display: flex; 
	width: 20%; 
	margin: 0; 
	padding: 0;
}

#animal-image-container {
	background-color: orange; 
	display: flex; 
	width: 100%;
}

#animal-image {
	background-color: red; 
	object-fit: cover; 
	width: 100%;
}

#animal-button-container {
	width: 0%;
}

#animal-button {
	background-color: #406328;
	position: relative; 
	left: -14vw; 
	top: 82%; 
	font-size: 1vw; 
	width: 14vw; 
	
	/*
	left: -9.1em; 
	top: 90%; 
	width: 6em;
	*/
}

#animal-button:hover {
    background-color: black;
}
/*TODO clicked*/

#container-right {
	flex-grow: 1; 
	margin: 0%;
	padding: 0%;
	/*
	background-color: red;
	*/
}

#card-text-left {
	text-align: left;
	background-color: #406328; 
	float: left; 
	color: white; 
	padding: 2%;
}

#card-text-right {
	text-align: right;
	background-color: #406328; 
	color: white; 
	padding: 2%;
}

#card-text-middle {
	text-align: left;
	padding: 3%; /*2 shows red line...*/
}


/* The alert message box */
/*
.alert {
	padding: 20px;
	background-color: #f44336; 
	color: white;
	margin-bottom: 15px;
	opacity: 1;
	transition: opacity 0.6s; 
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}



.popup {
	position: fixed;
	z-index: 99;
	background-color: green;
	width: 80%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/
/* The actual popup */
/* 

.popup .popuptext {
	*/
	/*
	position: fixed;
	left: 50%;
	top: 5px;
	width: 80%;
	
	visibility: hidden;
	*/
	/*
	background-color: #555;
	color: #fff;
	border-radius: 20px;
	padding: 10px;
	
}
*/

/* Toggle this class - hide and show the popup */
/*
.popup .anim {
	visibility: visible;
	-webkit-animation: fadeinout 4s linear forwards;
	animation: fadeinout 4s linear forwards;
}
*/
/* Add animation */
/* keeps it visible solid 80% of duration */
/*
@-webkit-keyframes fadeinout {
	0%,100% { opacity: 0; }
	20%,80% { opacity: 1; }
}
@keyframes fadeinout {
	0%,100% { opacity: 0; top: -30%;}
	20%,80% { opacity: 1; top: 0%;}
}
*/


#toast-body{
	/*Override Bootstrap*/
	color: black;
}

.liveToastContainer{
	/*
	toast-container position-fixed top-0 start-0 p-3
	width: 30em; 
	*/
	width: 30vh; 
	position: fixed;
	top: 10%;
	right: 5%;
	z-index: 99;
}

#loadGame{
	font-size: 2vh; 
	height: 50px;
	width: 50px;
	position: fixed;
	z-index: 99;
	bottom: 20px;
	right: 20px;
}
#saveGame{
	font-size: 2vh; 
	height: 50px;
	width: 50px;
	position: fixed;
	z-index: 99;
	bottom: 20px;
	right: 80px;
	/*
	text-align: center;
	padding:10px;
	float: right;
    background-color:rgba(255,204,0,1);
    border-radius:25px;
    cursor:pointer;
    display:block;
	margin-left: 10px;
	*/
}

#darkModeSwitch{
	font-size: 2vh; 
	/*
	width: 10vh; 
	*/
	height: 50px;
	width: 50px;
	position: fixed;
	z-index: 99;
	bottom: 20px;
	left: 20px;
}

/*debugbar*/
#debugbarcontainer{
	background: red; 
	position: fixed; 
	top: 0; 
	left: 0; 
	text-align: center; 
	width: 100%; 
	/*
	font-size: 6px;
	*/
	font-size: 0.5vw;
	
	z-index: 99; 
}


#achievementBtns{
	width: 10%;
	position: fixed;
	z-index: 99;
	top: 20px;
	left: 10px;
	/*
	width: fit-content;
	width: 150px;
    background-color:rgba(25,204,0,1);
	text-align: center;
	padding:10px;
	float: right;
    background-color:rgba(255,204,0,1);
    border-radius:25px;
    cursor:pointer;
    display:block;
	margin-left: 10px;
	*/
}

#achievementBtns > button{
	margin: 0px;
	width: 100%;

	/*
	width: fit-content;
	*/
    background-color:rgb(255, 162, 0);
}
#achievementsHeader > h5{
	font-size: 1.5em;
}

/*
.achievementUnlocked{
	background-color:rgb(0, 162, 0);
}
*/


/* Needs to be lower down...*/
.topBarImage{
	width: fit-content;
	min-width: 20px;
	height: 60%;
	background-size: contain;
	background-position: center;
}
