<div id="achievementBtns">
    <div id="achievementsHeader">
        <h5>Achievements</h5>
    </div>
    <button id="checkDollars_Achievement_Btn" class="zc_button" onclick="checkDollars_Achievement_Button()" title="Check Dollars Achievement" class="bi bi-lock-fill"><span id="checkDollars_Achievement_Value"> $10,000</span></button> 
    <button id="checkUnlocks_Achievement_Btn" class="zc_button" onclick="checkUnlocks_Achievement_Button()" title="Check Unlocks Achievement" class="bi bi-lock-fill"><span id="checkUnlocks_Achievement_Value"> 2 Unlocks</span></button> 
    <button id="reset_Achievements_Btn" class="zc_button" onclick="resetAchievements()" title="Reset Achievements">Reset Achievements</button> 
</div>