
		<!--Start of page - banner-->
		<br>
		<br>
		<img src="zooclickersbanner.jpg" alt="Zoo Clickers Banner" >
		<br>
		<div id="divider2"></div>
		<br>
		<!--<div id="introText">
			Welcome to Zoo Clickers. The idle clicker game that is sure to make you go bananas. Click the bag of money below to earn Zoo Dollars manually. Gather enough dollars and you can purchase animals for your exhibits to bring in more visitors who will pay to enter your zoo. More money comes in, you buy more animals, which in turn earns more money, so that you can buy more animals. You get the picture. You need to invest your money to make more money. Their is one goal; to make as much money as possible. Good Luck Zookeeper.
		</div>-->
		<br>
		<br>
		<br>