<!-- Button trigger modal 
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
		Launch demo modal
	</button>
-->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLongTitle" style="color:black;">
			Stats
		</h5>
	  <!-- NEED TO MOVE TO RIGHT
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="statsShowHide()" 
		style="
		padding: 0; 
		margin: 0; 
		width: 20px; 
		display: flex; 
		background-color:rgba(255,255,255); 
		border-radius: 0px;">
		<span aria-hidden="true">&times;</span>
		</button>
	-->
		</div>
		<div class="modal-body" style="color:black;">
			Clicker clicked: <span id="clickedCount">0</span> <br>
			start date ... <br>
			last time played ... <br>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="statsShowHide()">Close</button>
		</div>
	  </div>
	</div>
  </div>