<!--Toast - Hidden-->
<!--TODO multiple/stacking-->
<div class="toast-container position-fixed top-0 start-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
        <img src="zoodollarcoin.png" style="height: 20px;" class="rounded me-2" alt="...">
        <strong class="me-auto">ZooClickers</strong>
        <small id="toast-time">Now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toast-body" class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>