<!--Top bar with zoo dollars and such-->
<div id="topbar">
    <div id="topbarContainer">
        <ul class="nav" >
            <li>
                <div style="display: flex;">
                    <div class="manualButton2" onclick="addFunds()" title="Click here to add funds manually."></div>
                    <div id="zooDollarsContainer"><span id="zoodollars" title="Zoo Dollars">0</span></div>
                </div>
                <button id="btnUpg" class="bi bi-arrow-up-square-fill" onclick="upgradeFunds()" title="Upgrade clicker"> Z$ 10 (lvl 1)</button> 
            </li>
            <li>
                <div class="IPDContainer" title="Income Per Day"></div>
                <h5><span id="ips" title="Income Per Day">0</span></h5>
            </li>
            <li>
                <div class="DayContainer" title="Day Number"></div>
                <h5><span id="day" title="Day Number">1</span></h5>
            </li>
            <li>
                <div class="VisitorsContainer" title="Visitors Per Day"></div>
                <h5><span id="visitorsAttracted" title="Visitors Per Day">0</span></h5>
            </li>
            <li>
                <div class="EntryPriceContainer" title="Entry Price"></div>
                <h5><span id="zooEntryPrice" title="Entry Price">0</span></h5>
            </li>
            <li>
                <button id="btnStats" class="stats bi bi-person-lines-fill" onclick="statsShowHide()" title="Show/Hide Stats"></button> 
            </li>
        </ul>
    </div>
</div>