<div>
    <details open>
        <summary style="list-style: none;"><button style="pointer-events: none;" class="zc_button">Upgrades</button></summary>
        <p>Upgrades Unlocked 0/2</p>
        <button id="unlockInsectsBtn" class="zc_button" onclick="unlockInsects()">Buy Insect House: Z$ <span id="unlockInsectsCost">0</span></button> 
        <button id="unlockArachnidsBtn" class="zc_button" onclick="unlockArachnids()">Buy Arachnid Hut: Z$ <span id="unlockArachnidsCost">0</span></button> 
    </details>
</div>
<br>